@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);
@import "./variables";

* {
	font-family: "Quicksand";
}

@layer components {
	.dropdown {
		&-menu {
			display: none;
		}

		&-btn:hover > &-menu {
			display: block;
		}
	}
}

.header-background {
	background: $gradient;
}

.about-background {
	position: relative;
	background: #b4beef url("@/assets/background.png");
}

.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */

	&::-webkit-scrollbar {
		display: none;
	}
}
